.MMM-Strava-Last-Activity-Map .wrapper {
    font-family: 'Roboto Mono', 'Lucida Console', monospace;
    font-size: large;
    color: #fc4c02 !important;
    display: flex;
    flex-direction: column;    
}

.MMM-Strava-Last-Activity-Map .activityDetails {
	font-size: medium;
	font-weight: bold;
	color: #fc4c02 !important;
    width: 100%;
	/* max-width: 360px; */
    text-align: center;
}

.MMM-Strava-Last-Activity-Map .value {    
    font-size: medium;
    color:  #fc4c02;
}

.MMM-Strava-Last-Activity-Map .loading {
    font-size: medium;
    color:  #fc4c02;
    font-style: italic;
	text-align: center;
}

.MMM-Strava-Last-Activity-Map .map-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.MMM-Strava-Last-Activity-Map .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
  .small.bright p {
    margin: 2px 0;  /* Adjust the values to reduce space as needed */
}